.content {
    position: absolute;
    left: 230px;
    top: 55px;
    height: calc(100% - 71px);
    right: 0;
    bottom: 0;
    padding: 8px;
    background-color: #fff;
    overflow: hidden;
}

.grid-master {
    position: absolute;
    height: calc(100% - 3px);
    top: 0px;
    right: 5px;
    left: 5px;
    background-color: #fff;
    overflow: hidden;
}

/*TITLE*/
.title-container {
    height: 40px;
    background-color: #fff;
    width: 100%;
    display: flex;
    min-width: 600px;
}

.title-left, .title-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
}

    .title-left .title-parent {
        font-size: 18px;  
        font-weight: 600;
    }

    .title-left .right-arrow {
        height: 13px;
        width: 13px;
        background: url('../Contents/icons/IconSprite.png') no-repeat;
        background-position: 0px -1013px;
        background-size: 13px;
        margin: 13px;
    }

    .title-left .title-child{
        font-size: 14px;
        color: #0088c2;
    }

.title-right{
    justify-content: flex-end;
}

    .title-right .cbo-title {
        height: 28px;
        margin: 6px;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        cursor: pointer;
        display: flex;
    }

        .title-right .cbo-title span {
            margin-left: 7px;
        }

.cotainer-toolbar-taskbar {
    height: 36px;
    background-color: #026b97;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    overflow: hidden;
}

/*1.TOOLBAR*/
.toolbar {
    position: absolute;
    top: 40px;
    left: 0;
    height: 36px;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    border: 1px solid #d0d0d0;
    min-width: 1200px;
}

    /*toolbar item*/
    .toolbar .toolbar-item {
        color: #000;
        line-height: 36px;
        padding: 0 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border: none;
        outline: 0;
        border: 1px solid #f0f0f0;
    }

        .toolbar .toolbar-item:not([disabled]):hover {
            background-color: #fff;
            border: 1px solid #0071c1;
        }

        .toolbar .toolbar-item:disabled {
            cursor: default;
            opacity: 0.3;
        }

        .toolbar .toolbar-item span {
            padding-left: 8px;
        }
    /*toolbar sperator*/
    .toolbar .sperator {
        height: 32px;
        margin-top: 2px;
    }

/*TABLE_CONTENT*/
.content .table-content {
    font-family: Roboto !important;
    font-size: 13px;
    height: calc(100% - 40px - 37px - 32px);
    width: 100%;
    background-color: #fff;
    overflow: auto;
    margin-top: 0px;
}

.table-content .main-table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    min-width: 2000px;
}

.filter-select {
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

.main-table thead {
    height: 64px;
}

    .main-table thead tr:nth-child(1) th {
        position: sticky;
        top: 0px;
        z-index: 10;
    }

.main-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.main-table th {
    border: 1px solid #d0d0d0;
    height: 64px;
    background-color: #f0f0f0;
}

.main-table td {
    border: 1px solid #f0f0f0;
    height: 24px;
    padding-left: 10px;
}

.main-table tr:hover {
    background-color: #d7e9f4!important;
    cursor: pointer;
}

/*Chinh chieu rong cho cac th*/
.table-th.th-small{
    width: 180px;
}

.table-th.th-normal{
    width: 230px;
}

.table-th.th-large{
    width: 280px;
}

.table-th .filter-data {
    width: 34px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    line-height: 35px;
    font-weight: 300;
}

.table-th .th-input {
    position: absolute;
    height: 33px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    left: 35px;
    bottom: 0px;
    right: 0px;
    padding: 1px 7px;
    width: calc(100% - 51px);
}

.cbo-th {
    position: absolute;
    height: 37px;
    width: 100%;
    padding: 7px;
    border: 1px solid #d0d0d0;
    bottom: 0px;
    left: 0px;
    text-align-last: center; /*can giua text cua select*/
    cursor: pointer;
}

.table-th .th-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 7px 7px 7px 7px;
    text-align: center;
    font-weight: 300;
}

/*BOTTOM CONTENT*/
.bottom-content {
    display: flex;
    color: #4b4c4c;
    height: 26px;
    bottom: 0px;
    font: 300 13px 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
    min-width: 1000px;
}

.bottom-left {
    display: flex;
    width: 60%;
    height: 26px;
}

.bottom-right {
    width: 40px;
}

button.bottom-icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin: 5px 7px 0px 0px;
    border: 1px solid #fff;
}

.bottom-content span {
    line-height: 32px;
    padding: 0 10px;
}

.bottom-content input {
    margin-top: 3px;
    width: 26px;
    height: 16px;
    text-align: center;
}

.bottom-content select {
    height: 26px;
    border-radius: 3px;
    margin: 4px 7px;
    width: 50px;
}

.bottom-right {
    width: 40%;
}

    .bottom-right span {
        float: right;
    }

.bottom-icon .icon{
    height: 16px;
    width: 16px;
}

.bottom-content .bottom-icon:not([disabled]):hover {
    border: 1px solid #d8d8d8;
    background-color: #ebebeb;
    border-radius: 3px;
}

.bottom-content .bottom-icon:disabled {
    cursor: default;
    opacity: 0.5;
}


/*ICON BOTTOM*/
/*Icon trang đầu tiên*/
.icon.page-first {
    background: url('../Contents/icons/page-first.png') no-repeat center;
}
/*Icon trang trước*/
.icon.page-prev {
    background: url('../Contents/icons/page-prev.png') no-repeat center;
}
/*Icon trang sau*/
.icon.page-next {
    background: url('../Contents/icons/page-next.png') no-repeat center;
}
/*Icon trang cuối*/
.icon.page-last {
    background: url('../Contents/icons/page-last.png') no-repeat center;
}
/*Icon load lại dũ liệu*/
.icon.page-load {
    background: url('../Contents/icons/refresh.png') no-repeat center;
}



/*TOOL BAR ICON*/
.icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url('../Contents/icons/IconSprite.png');
}

    .icon.feedback {
        background: url('../Contents/icons/viewEmail.png') no-repeat center;
    }

/*Icon thêm mới*/
    .icon.add-new {
        background-position: 1px -4914px;
        background-size: 15px;
        height: 18px;
    }

/*Icon mũi tên màu trắng*/
.arrow-down-white {
    background: url('../../Contents/images/arrow-down-white.png') no-repeat !important;
    margin-left: 15px;
    width: 7px;
    height: 3px;
    cursor: pointer;
}
/*Icon nhân bản*/
.icon.duplicate {
    background-position: 0px -1888px;
}
/*Icon xem*/
.icon.view {
    background-position: -1602px -127px;
}

.icon.delete-row {
    background-position: -2px 0px;
    margin-left: 8px;
}

/*Icon chỉnh sửa*/
.icon.edit {
    background: url('../Contents/icons/Edit16.png') no-repeat center;
}
/*Icon xóa*/
.icon.delete {
    background-position: 0px -2680px;
}

/*Icon tải lại (nạp)*/
.icon.reload {
    background-position: 0px -2585px;
}
/*Iocn nhap khau*/
.icon.import {
    background-image: url('../Contents/icons/Import16.png');
}
/*Icon xuat khau*/
.icon.export {
    background: url('../Contents/icons/excel_97_24.png') no-repeat center;
}

/*Icon gop khach hang*/
.icon.pooling-customer {
    background: url('../Contents/icons/ic_GopKhachHang.png') no-repeat center;
}

.icon.help {
    background: url('../contents/icons/iconsprite.png') no-repeat center;
    background-position: 0px -1600px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.select {
    background-color: #d7e9f4 !important;
}

.uncheck {
    background: url('../Contents/icons/uncheck.png') no-repeat center;
    width: 24px;
}

.check {
    background: url('../Contents/icons/check.png') no-repeat center;
    width: 24px;
}

.title-right .ct-btn:hover, .title-right .ct-btn:focus {
    border: 1px solid #0071c1;
    background-image: -webkit-linear-gradient(top,#eff0ec,#e1f2e9);
    outline: none;
}